extends layout 
block head 
    title=title 

block content
    h1="Devices List"
    table 
        tr 
            th="Device Name"
            th="Status"
        tr 
            td="Chromecast" 
            td="Connected" 
        tr 
            td="Ring Doorbell"
            td="Connected"
        tr 
            td="Security Camera"
            td="Disconnected"