
html(lang="en")
  head
    meta(charset="utf-8")
    meta(
      content="IE=edge" 
      http-equiv="X-UA-Compatible"
      )
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    meta(
      content="" 
      name="description"
      )
    meta(
      content="" 
      name="author"
      )
    title RANIA Dashboard
    link(
      href="../../public/stylesheets/dashboard.css" 
      rel="stylesheet"
      )
    
    script. 
      function getApiData(){
        fetch('/data/get-data',{
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({meta_data:{
                    auth_token: "01",
                    sender: "Agenda",
                  },
                 data:{
                  device_name: 'agenda',
                  db_name: 'agenda',
                  k: 'Doctor\'s Appointment'
                 }})
      })
          .then(response => response.json())
          .then(data=> console.log(data))
      }
      window.onload = getApiData
  body.sb-nav-fixed
    #layoutSidenav
      .mobile-menu
        input#hamburger(
          value="hamb" 
          name="hamb" 
          type="checkbox"
          )
        label(for="hamb") ☰
        ul.mobile
          li
            a.nav-link(href="index.html") Manage Devices
          li
            a.nav-link(href="/settings") Edit Resident Info
          li
            a.nav-link(href="index.html") Send data to...
      div(id="layoutSidenav_nav")
        nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
          .sb-sidenav-menu
            .nav
              a.nav-title(href="/dashboard") RANIA
              .sb-sidenav-menu-heading Page Actions
              a.nav-link(href="/devices") Manage Devices
              a.nav-link(href="/settings") User Info
              a.nav-link(href="/agenda") Manage Your Agenda
          .sb-sidenav-footer
            .small Logged in as:
            | UserName
      div(id="layoutSidenav_content")
        main
          .container-fluid.px-6
            h1.mt-4 Dashboard
            .row
              .col-auto
                .card.scheduleCard
                  .card-text
                    table.schedule-table(id="schedule-table")

                      tbody
                        if events && events.length
                          each event in events
                            tr
                              td #{event.time}
                              td #{event.title}
                        else
                          tr
                            td(colspan="2") No events found.
                  .card-footer.d-flex.align-items-center.justify-content-between
              .col-auto
                .card.deviceListCard
                  .card-body Device List
                    .card-text
                      ul.device-list
                        if devices && devices.length
                          each device in devices
                            li
                              if device
                                .db-button(href=`/device/${device.id}`) #{device.name}
                              else
                                li(colspan="2") No device found.
                        else
                          li(colspan="2") No devices found.
                  .card-footer.d-flex.align-items-center.justify-content-between
                .card.notificationsCard
                  .card-body Notifications
                  .card-text
                    p Notifications
                  .card-footer.d-flex.align-items-center.justify-content-between
              .col-auto
               
                .card.timeCard
                  p(id="today_date") Today's Date
                  p(id="current_date")
                  script.
                    date = new Date();
                      year = date.getFullYear();
                      month = date.getMonth() + 1;
                      day = date.getDate();
                      document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
                
  script(
  script(
    crossorigin="anonymous" 
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" 
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    )
  script(
    crossorigin="anonymous" 
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    )
  // script(src="script.js")
